/* Styling sheet */

P {
    color: grey;
    font-size: 14px;
    font-family: cursive;
}

h1 {
    background-position-x: center;
    font-size: large;
    font-family: fantasy;
    color: darkgoldenrod;
    background-color: rgb(200, 255, 104);
}

body {
    background-color: rgb(153, 251, 153);
    outline: groove;;
}

head {
    stroke: rgb(63, 142, 226);
    background-position-x: center;
    display: contents;
}